{% extends "base_site.html" %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"
        rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}"
        rel="stylesheet">
  <link
    href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
    rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
        rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
        rel="stylesheet">
{% endblock stylesheets %}


{% block content %}
  <div class="right_col" role="main">
      <div class="page-title">
        <div class="title_left">
          <h3>Companies
            <small>All companies in KIT</small>
          </h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>


      <div class="row">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                {% if 'error' in message %}
                  <ul class="alert alert-danger" id="alert_message">
                    <label>{{ message }}</label>
                  </ul>
                {% else %}
                  <ul class="alert alert-success" id="alert_message">
                    <label>{{ message }}</label>
                  </ul>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% if error %}
            <p class="alert alert-error"><strong>Error:</strong> {{ error }}
          {% endif %}
          <div class="x_panel">
            <div class="x_title">
              <h2>KIT
                <small>Company</small>
              </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a href="/company/create"><i class="fa fa-plus-circle"></i></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                    class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <!-- <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class=""><a href="#tab_content1" id="home-tab" role="tab"
                                                      data-toggle="tab" aria-expanded="true">All</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content1" role="tab" id="project-to-approve-tab"
                                                      data-toggle="tab"
                                                      aria-expanded="false">Project to approve</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content1" role="tab" id="unapproved-tap"
                                                      data-toggle="tab" aria-expanded="false">Unapproved project</a>
                  </li>
                  <li role="presentation" class="active"><a href="#tab_content1" id="in-progress-tab" role="tab"
                                                            data-toggle="tab"
                                                            aria-expanded="true">In progress</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content1" role="tab" id="complete-tap"
                                                      data-toggle="tab"
                                                      aria-expanded="false">Complete</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content1" role="tab" id="point-to-approve-tap"
                                                      data-toggle="tab" aria-expanded="false">Point to approve</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content1" role="tab" id="approved-tap"
                                                      data-toggle="tab" aria-expanded="false">Approved</a>
                  </li>
                </ul> -->
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                    <table id="datatable-responsive"
                           class="table table-striped table-bordered table-hover dt-responsive nowrap" cellspacing="0"
                           width="100%">
                      <thead>
                        <tr>
                          <th>Name</th>                        
                          <th>Chairman</th>
                          <th>Technical Advisers</th>
                          <th>Established Date</th>
                          <th>President</th>
                          <th>Vice President</th>                        
                          <th>Staff</th>
                          <th>Description</th>
                          <th style="width: 20%">Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for company in companies %}
                        <tr>
                          <td>{{ company.name }}</td>
                          <td>{{ company.chairman }}</td>
                          <td>{{ company.advisers|join(', ') }}</td>
                          <td>{{ company.established_date }}</td>
                          <td>{{ company.president }}</td>
                          <td>{{ company.vice_president|join(', ') }}</td>
                          <td>{{ company.a2a_staff|join(', ') }}</td>
                          <td>{{ company.description }}</td>                          
                          <td>
                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                            <a href="/company/{{ company.id }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                            <a href="/company/delete{{ company.id }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                          </td>                                               
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
  </div>
  </div>
  </div>

{% endblock content %}


{% block javascripts %}
  {{ super() }}
  <!-- Datatables -->
  <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
  <script
    src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script
    src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script
    src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
  <script
    src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
  <script
    src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script
    src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
  <script
    src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>
  <!-- <script>
    $(document).ready(function() {
      setTimeout(function() {
        $('#alert_message').hide();
      }, 1500);

      $('#in-progress-tab').on('click', function() {
        let table = $('#datatable-responsive').DataTable();
        table
          .column(1)
          .search('In Progress')
          .draw();
      });
      $('#home-tab').on('click', function() {
        let table = $('#datatable-responsive').DataTable();
        table
          .column(1)
          .search('')
          .draw();
      });
      $('#project-to-approve-tab').on('click', function() {
        let table = $('#datatable-responsive').DataTable();
        table
          .column(1)
          .search('Project to approve')
          .draw();
      });
      $('#unapproved-tap').on('click', function() {
        let table = $('#datatable-responsive').DataTable();
        table
          .column(1)
          .search('Unapproved project')
          .draw();
      });
      $('#complete-tap').on('click', function() {
        let table = $('#datatable-responsive').DataTable();
        table
          .column(1)
          .search('Complete')
          .draw();
      });
      $('#point-to-approve-tap').on('click', function() {
        let table = $('#datatable-responsive').DataTable();
        table
          .column(1)
          .search('Point to approve')
          .draw();
      });
      $('#approved-tap').on('click', function() {
        let table = $('#datatable-responsive').DataTable();
        table
          .column(1)
          .search('Approved')
          .draw();
      });
    });
    let load = function() {
      let table = $('#datatable-responsive').DataTable();
      table
        .column(1)
        .search('In Progress')
        .draw();
    };
    load();
  </script> -->
{% endblock javascripts %}
