{% extends "base_site.html" %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}


{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Point Value <small>the value of 1 KIT Point</small></h3>
        </div>

      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              {% if 'error' in message %}
                <ul class="alert alert-danger" id="alert_message">
                  <label>{{ message }}</label>
                </ul>
              {% else %}
                <ul class="alert alert-success" id="alert_message">
                  <label>{{ message }}</label>
                </ul>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
          <div class="x_panel">
            <div class="x_title">
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li><a href="#" data-toggle="modal" data-target=".create-point-value-modal"><i class="fa fa-plus-circle"></i></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table id="datatable-responsive" class="table table-striped table-bordered table-hover dt-responsive nowrap">
                <thead>
                  <tr>
                    <th>Value</th>
                    <th style="width: 20%">Edit</th>
                  </tr>
                </thead>


                <tbody>
                {% for point in kit_point %}
                  <tr>
                    <td>{{ point.value }}</td>
                    <td>
                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                    <a href="#" onclick="get_kit_point_value({{ point.id }})"
                       class="btn btn-info btn-xs" data-toggle="modal" data-target=".update-point-value-modal">
                      <i class="fa fa-pencil"></i> Edit </a>
                    <a href="/kit/point/value/delete{{ point.id }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                  </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Create kit point value popup modal-->
  <div class="modal fade create-point-value-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Create Point Value</h4>
        </div>
        <div class="modal-body">
          <form id="kit-point-value-form" method="post" action="{{ url_for('base_blueprint.create_kit_point_value') }}">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
              <input name="value" type="number" class="form-control has-feedback-left">
              <span class="fa fa-dollar form-control-feedback left" aria-hidden="true"></span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" form="kit-point-value-form" class="btn btn-primary">Save</button>
        </div>

      </div>
    </div>
  </div>
  <!--Update kit point value popup modal-->
  <div class="modal fade update-point-value-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Update Point Value</h4>
        </div>
        <div class="modal-body">
          <form id="update-kit-point-value-form" method="post" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
              <input name="value" id="value" type="number" class="form-control has-feedback-left">
              <span class="fa fa-dollar form-control-feedback left" aria-hidden="true"></span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" form="update-kit-point-value-form" class="btn btn-primary">Save</button>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}


{% block javascripts %}
  {{ super() }}
  <!-- Datatables -->
  <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>
  <script type="text/javascript">
    setTimeout(function() {
      $('#alert_message').hide();
    }, 2000);
    function get_kit_point_value(id){
      $.getJSON('/kit/point/value/'+id, function(res) {
        $('#value').val(res.value);
        $('#point_id').val(res.id);
        update_point_value(res.id)
      });
    }
    function update_point_value(id) {
      console.log(id);
      $('#update-kit-point-value-form').on('submit', function(e) {
        e.preventDefault();
        $.ajax({
          type: 'POST',
          url: '/kit/point/value/'+id,
          dataType: 'json',
          data: $('#update-kit-point-value-form').serialize(),
          success: function(result) {
            {#if (result === 'duplicate') {#}
            {#  const message = 'Cannot create new user: duplicate entry.';#}
            {#  alertify.notify(message, 'error', 5);#}
            //} else {
              {#alertify.notify('Report updated.', 'success', 5);#}
            window.location.reload()
            //}
          },
        });
      })
    }
  </script>
{% endblock javascripts %}
